@model WebCalendar.Models.NotificationViewModel
@{
    if (!string.IsNullOrEmpty(Model.FieldPrefix))
    {
        ViewData.TemplateInfo.HtmlFieldPrefix = Model.FieldPrefix;
    }
}
<div class="form-group">
    <div class="col-md-10">
        @Html.LabelFor(model => model.NotificateBeforeDay,"Number of notifications", htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.NotificateBeforeDay, new { type = "number", @Value="1", min = "1", max = "5", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NotificateBeforeDay, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-10">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.Type, new List<SelectListItem>() { new SelectListItem() { Text = "message", Value = "message", Selected = true } }, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
    </div>
</div>
