@model WebCalendar.Models.CalendarViewModel

@{
    ViewBag.Title = "Calendar";
}
<link href="~/Content/custom.css" rel="stylesheet" />
<script src="~/Scripts/angular.min.js"></script>
<style>
    #show-events-btn {
        background: none !important;
        border: none;
        padding: 0 !important;
        /*optional*/
        font-family: arial,sans-serif; /*input has OS specific font-family*/
        color: #069;
        text-decoration: underline;
        cursor: pointer;
    }

    .curr-day {
        background-color: orangered;
    }

    .prev-month, .next-month {
        background-color: lightgrey;
    }

    .gridEvent {
        background-color: greenyellow;
    }
</style>

<div ng-app="calendarApp" ng-controller="calendarCtrl" ng-init="init(@Model.ID);getEvents();" class="open-window">

    <div class="row">

        <div class="col-lg-2 text-left">
            <span class="calendar-name">@Model.Title</span>
        </div>

        <div class="col-lg-2">
            <button class="btn btn-default">Today</button>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="subtractDate()"> < </button>
                <button type="button" class="btn btn-default" ng-click="addDate()"> > </button>
            </div>
        </div>

        <div class="col-lg-4 text-left vcenter">
            <p>@DateTime.Now.ToString("dddd"), @DateTime.Now.ToLongDateString()</p>
        </div>

        <div class="col-lg-4 text-right">
            <div class="btn-group bottom-left" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="nav('GridForDay', 'day')">Day</button>
                <button type="button" class="btn btn-default" ng-click="nav('GridForWeek', 'week')">Week</button>
                <button type="button" class="btn btn-default" ng-click="nav('GridForMonth', 'month')">Month</button>
            </div>
            <button type="button" class="btn btn-default" ng-click="nav('GridForShedule', 'schedule')">Schedule</button>
        </div>
    </div>
    <hr />

    <div class="container-fluid">
        <div class="row content" style="margin-top:0px">
            <div class="col-lg-3 text-center">
                <button class="btn btn-default btn-create-event" onclick="location.href='/Event/Create'">Create Event</button>
            </div>
            <div class="col-lg-9">
                Элемент для выделения целого дня
            </div>
        </div>
        <div class="row content" style="margin-top:0px">
            <div class="col-lg-3 text-center">
                <div id="datetimepicker12"></div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker12').datetimepicker({
                            inline: true,
                            sideBySide: false
                        });
                    });
                </script>
            </div>
            <div class="col-lg-9 selectable">
                <div ng-include="filePath()"></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal-new-event" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Event</h4>
                </div>
                <input required id="event-title" type="text"><br>
                <label>When:</label>
                <div ng-bind-template="{{timePeriodStr}}"></div>
                <div class="modal-footer">
                    <button id="modal-btn-sendEvent" type="button" class="btn btn-default" data-dismiss="modal" ng-click="sendEventInfo(@Model.ID)">Create</button>
                    <button id="modal-btn-editEvent" type="button" class="btn btn-default" data-dismiss="modal">Edit</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal (events list on choosen date) -->
    <div class="modal fade" tabindex="-1" id="modal-list-event" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Events</h4>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered">
                        <tr class="row" ng-repeat="event in currentDateEvents">
                            <td>
                                {{event.title}}
                            </td>
                            <td>
                                {{event.beginTime}}
                            </td>
                            <td>
                                {{event.endTime}}
                            </td>
                            <td>
                                <a href="/Event/Details?id={{event.id}}">Details</a>
                            </td>
                        </tr>
                    </table>
                </div>

                </div>
        </div>
    </div>




</div>
<script src="~/Scripts/app.js"></script>
